* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

/*#region Global styles */
button {
  color: white;
  font-weight: bold;
  background-color: #266EFD;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 1px 8px 0 #3876F1;
}

button:hover {
  cursor: pointer;
}

li a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h2 {
  font-weight: 900;
  font-size: 2.5rem;
}

.top-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}
/*#endregion*/



/*#region side-scrolling section*/
.scroller {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

/* .scroller::-webkit-scrollbar {
  display: none;
} */

/* .scroller::after {
  content: '';
  flex: 0 0 10px; 
}

.scroller::before {
  content: '';
  flex: 0 0 10px; 
} */

.scroll-item {
  flex: 0 0 auto;
  box-sizing: content-box;
}

/* .scroll-item.first {
  margin-left: 10%;
}

.scroll-item.last {
  margin-right: 10%;
} */
/*#endregion*/



/*#region Header Section */
header {
  position: relative;
  color: white;
  margin-bottom: 2.5rem;
}

header img {
  width: 100%;
}

.header-content {
  position: absolute;
  height: max-content;
  width: 100%;
  left: 0;
  top: 0;
}

header h3 {
  font-size: 1.9rem;
  font-weight: 800;
}

header nav {
  width: 100%;
  box-sizing: border-box;
  padding: 3% 10%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

header li {
  margin: 0 1.3rem;
}

header li a {
  color: white;
}

header nav button {
  margin: 0 1.3rem;
}

.header-text {
  padding: 11% 10%;
}

.header-text h2{
  word-spacing: 0.3rem;
}

.header-text p {
  margin: 1.25rem 0;
}

/*#endregion*/



/*#region Job Offers Section */
#new-jobs {
  width: auto;
}

#new-jobs h2 {
  margin: 0 10%;
}

#new-jobs .view-jobs {
  margin-right: 10%;
  align-self: center;
  font-weight: 800;
}

#new-jobs .view-jobs a {
  color: #276FFB;
  text-decoration: none;
}

.job-advert-container {
  margin: 2rem 10%;
  justify-content: space-between;
}

.job-advert-container hr {
  margin: 0px 30px
}

.job-advert {
  position: relative;
  max-width: 500px;
  min-width: 400px;
}

.job-title {
  font-weight: 800;
  font-size: 1.35rem;
  color: #276FFB;
}

.time-posted, .job-location, .job-descrip {
  color: #707070;
  font-size: 1rem;
}

.time-posted {
  font-size: 0.8rem;
  align-self: center;
}

.hiring-company {
  clear: left;
  float: left;
}

.job-location {
  margin-left: 1rem;
  float: left;
}

.job-descrip {
  max-width: 375px;
  margin-top: 3rem;
  margin-bottom: 1.75em;
  line-height: 1.5rem;
  word-spacing: 0.05rem;
}

.job-advert button {
  font-size: 1.4rem;
  padding: 0.25rem 0.8rem;
  margin-bottom: 1%;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*#endregion*/



/*#region Featured Section */
#featured h2 {
  margin: 2% 10%;
}

.featured-company-container {
  margin: 2rem 10%;
  justify-content: space-between;
}

.featured-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-company h4 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #141414;
  text-decoration: none;
}

.featured-company figure {
  padding: 25px;
  border: 1px solid #707070;
  border-radius: 100%;
  margin: 5px 35px;
}


#featured a {
  text-decoration: none;
}
/*#endregion*/



/*#region Subscribe Section */
#subscribe {
  margin: 3% 10%;
  background-color: #141414;
  color: white;

  background-image: url('./images/Newsletter-image.png');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

#subscribe img {
  width: 100%;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 455px;
  padding: 3% 5%;
}

.subscribe-content p {
  margin: 5% 0;
}

#subscribe .email-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#subscribe input {
  height: 2rem;
  width: 65%;
  border: none;
  border-radius: 0.3rem;
  padding-left: 5%;
}

#subscribe button {
  width: 25%;
}

/*#endregion*/



/*#region Footer Section */
footer {
  margin: 0 auto;
  width: 50%;

}

footer ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  list-style: none;
  font-size: 0.8rem;
}

footer a {
  color: #141414;
}
/*#endregion*/